@model TestWebAppliction.Models.PaymentModel



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="form-horizontal">
        <h4>
            PaymentModel
        </h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            @Html.TextBox("SearchStudent")
            <input type="button" value="Search" class="btn btn-primary" id="lnk" />
        </div>
        <div>
            <label> Student Name - @ViewBag.StudentName    @*@Model.StudentCourseModel.StudentModel.Name*@ </label>
        </div>

        <div class="form-group">
            <label>Course Name</label>

            @if (ViewBag.StudentCourse != null)
            {
                @Html.DropDownListFor( model => model.StudentCourseModelID, new SelectList(ViewBag.StudentCourse, "ID", "CourseModel.CourseName"),
                 "--Select--",new { @id = "SelectedCourse", @class = "myclass", onchange = "handleDropdownChange()" })}
        </div>
        <div>
            @* <label> Course Price - @ViewBag.CoursePrice </label>*@
            <div>
                <label id="coursePriceLabel"> Course Price -  @ViewBag.CoursePrice </label>
            </div>
        </div>
        <hr />
    </div>

    <div class="form-group">
        <label>Pay Price</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group  col-md-6">
        <label>Pay Date</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.PayDate, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PayDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-6">

        <div class="col-md-20">

        </div>
    </div>

    <div class="form-group">
        <label>Pay Methard</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PayMethard, new SelectList(Enum.GetValues(typeof(TestWebAppliction.Models.Methard))), "Select Methard")
            @Html.ValidationMessageFor(model => model.PayMethard, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay" class="btn btn-success" />
        </div>
    </div>




    //...........

    //...........
    <paper class="d-flex">

    </paper>

    <fieldset>
    </fieldset>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script>
    // $(document).ready(function () {
      // $('#SelectedCourse').change(function (e) {
        //  alert('@ViewBag.CoursePrice')
       // });

    //function handleDropdownChange() {
    //    var selectedValue = document.getElementById("SelectedCourse").value;
    //    console.log("Selected value: " + selectedValue);
    //    // Perform any additional actions or logic based on the selected value
    //}


// Make an jquery
    $("#lnk").click(function (evt) {
        var searchid = $("#SearchStudent").val();
        window.location.href = '/Payment/Create/' + searchid;
        /*document.getElementById("SearchStudent").value = searchid;*/
        document.getElementById("SearchStudent").value = "LinuxHint";
    });

    function handleDropdownChange(inputValue) {
        var selectedCourseId = $('#SelectedCourse').val();
        /*var selectedCourseId = inputValue;*/
        /*alert(selectedCourseId);*/


// Make an AJAX request to retrieve the price of the selected course
        $.ajax({
            url: '/Payment/GetCoursePrice',
            type: 'POST',
            data: { scbId : selectedCourseId },
            success: function (response) {
                $('#coursePriceLabel').text('Course Price - ' + response);
                alert('Course Price = Rs.'+response+'.00');
            },

            error: function () {
                alert('Error occurred while retrieving the course price.');
            }
        });
    }
</script>

