@model IEnumerable<TestWebAppliction.Models.BatchModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BatchNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BatchNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<a href='@Url.Action("Index", "Home")'>
    <input type='button' value='< Back to menu' class="btn btn-dark" />
</a>
